$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// custom variables to override bootstrap defaults
@import "_custom-variables.scss";
// end custom variables
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// fonts
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,200|Alegreya+Sans:400,700);
// end fonts

$title-color: #CDDC39;

/* Space out content a bit */
body {
  font-size: $font-size-base;
  line-height: $line-height-computed;
  background-color: $body-bg;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

/* side spacing for mobile first views */
header,
main,
footer {
  padding-left: 1em;
  padding-right: 1em;
}

/* Custom page header */
header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container {
  width: 100%;
}
.container-narrow > hr {
  margin: 30px 0;
}
.title-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 200;
  color: $title-color;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  /* Remove the padding we set earlier */
  header,
  main,
  footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }

}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
